{% extends 'loggedin.html' %} 

{% block content %} 
<div class="container">
    <br><br>
    <h1 class="title">Delete Post {{ post.title }}</h1> <br>
    
    <form method="post">
        <div class="control">

            {% csrf_token %} 
            <strong>Dude, be careful. Deleted posts never can come back. </strong> <br> <br>
            <a href="/" class="button is-secondary">Actually, never mind</a> <br> <br>
            <button class="button is-danger is-large">Delete</button>
        </div>
    </form>
</div>
{% endblock %}