{% extends 'loggedin.html' %}

{% block content %}
<br><br><br>
<div class="container">
    <h1 class="title is-1">Posts</h1>
    {% for i in object_list %} 
        <div class="card">
            <div class="card-header">
                <a href='{% url "detail" i.pk %}' class="card-header-title title is-link is-4">{{i.title}}</a>
            </div>
            <div class="card-content">
                <p>
                    Written by {{i.op.username}} <br>
                    {{i.get_total_likes}} upvotes <br>
                    {{i.comments.all.count}} comments
                </p>
            </div>
        </div>
        <br> <br>
    {% empty %} 
        <p class="help">No posts yet</p>
    {% endfor %}
</div>
{% endblock %}