<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <nav class="navbar">
		<div class="navbar-brand">
			<a href="/" class="navbar-item">
				<h1 class="title has-text-dark">Say WHAT!</h1>
			</a>
		</div>
		<div class="navbar-start">
			<a href='/' class="navbar-item">
				Home
			</a>
			<a href="/newpost" class="navbar-item">
				New Post
			</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				{% if user.is_authenticated %} 
					<div class="buttons">
						<a href="{% url 'view_account' user.id %}" class='button is-dark'>Your Account</a>
					</div>
				{% else %}
					<div class="buttons">
						<a href="/account/signup" class="button is-primary">
							<strong>Sign up</strong>
						</a>
						<a href="/account/login" class='button is-light'>Login</a>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
    {% if user.is_authenticated %}
        {% block content %} 

        {% endblock %}
    {% else %} 
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %} 
</body>
</html>